*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
nav{
  padding: 0 1rem;
  background-color: #EE6E73;

}
nav .nav-wrapper{

 
}
.content{
  min-height: calc(100vh - 70px - 64px);
  padding: 1.5rem 0;
  
}
.goods{
  
  display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(auto-fill, 1fr);
grid-column-gap: 1rem;
grid-row-gap: 1rem;
}
.card{
  display: flex;
  flex-direction: column;
}
.card-content{
  flex-grow: 1;
}